html, body {
  color: white;
  background: black;
}
h2 {
  font-family: monospace;
  font-weight: bold;
}
p {
  font-family: arial;
}
div {
  width: 100%;
  word-wrap: break-word;
}
img {
  float: inherit;
  height: auto;
  width: 240px;
}
video {
  float: inherit;
  height: 320px;
  width: 240px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}
