html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: #1c1c1c;
    color: #8a8a8a;
    font-family: "Lucida Console", "Courier New", monospace;
}
.main {
  padding: 10px;
}
hr {
    color: #ffffd7;
}
a {
    color: #8a8a8a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #0087ff;
}
footer {
    backdrop-filter: blur(4px);
    background: #1c1c1cc0;
    text-align: center;
    width: auto;
    position: sticky;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.bday {
    font-weight: 900;
    color: #5f8700;
}
.valentines {
    font-weight: 900;
    color: #d70000;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #424242;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* mobile */
@media only screen and (max-width: 920px) {
  body {
    color: #8a8a8a;
    font-size: 12px;
  }
  a {
    color: #8a8a8a;
  }
  a:visited {
    color: #0087ff;
  }
  img {
    width: 144px;
  }
  video {
    width: 144px;
  }
}
