html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: linear-gradient(-45deg, black, white);
    background-size: 400% 400%;
	  height: 100vh;
    animation: distort 15s ease infinite;
    color: white;
}
.main {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60));
}
/* animation */
@keyframes distort {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: white;
}
footer {
    background: #00000098;
    text-align: center;
    width: auto;
    position: sticky;
    left: 0;
    bottom: 0;
    padding: 10px;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #424242;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* mobile */
@media only screen and (max-width: 920px) {
  body {
    color: white;
    font-size: 12px;
  }
  a {
    color: white;
  }
  a:visited {
    color: white;
  }
  img {
    width: 144px;
  }
  video {
    width: 144px;
  }
}
